# Database
DB_HOST=mysql-bdelivesae.alwaysdata.net
DB_NAME=bdelivesae_db
DB_USER=votre_user_ici
DB_PASSWORD=votre_password_ici
DB_CHARSET=utf8mb4

# Mail / SMTP
SMTP_HOST=smtp-bdelivesae.alwaysdata.net
SMTP_USER=bdelivesae@alwaysdata.net
SMTP_PASSWORD=votre_password_ici
FROM_EMAIL=noreply@bdelivesae.alwaysdata.net

# Cloudinary
# Format: cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_URL=cloudinary://419313516436318:SECRET_ICI@ds7l2lq3l