RewriteEngine On
Options -MultiViews
RewriteBase /BdeLive/

Options -Indexes

RedirectMatch 404 /\.git
<FilesMatch "(\.(env|json|lock|yml|yaml|sql|log)|composer\.(json|lock))$">
    Require all denied
</FilesMatch>

# Laisser passer sitemap.xml et robots.txt (vérifier si le fichier existe d'abord)
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI} (sitemap\.xml|robots\.txt)$
RewriteRule ^ - [L]

# Laisser passer la vérification Google
RewriteRule ^google0d2c8b071cff9901\.html$ - [L]

RewriteCond %{REQUEST_URI} ^/app/
RewriteCond %{REQUEST_URI} !^/app/assets/
RewriteCond %{REQUEST_URI} !^/app/(index\.php|robots\.txt|sitemap\.xml)$
RewriteRule ^ - [F,L]

# Front controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ app/index.php?page=$1 [QSA,L]
