parameters:
    paths:
        - app

    bootstrapFiles:
        - phpstan-bootstrap.php

    excludePaths:
        analyse:
            - app/vendor/*
            - app/Modules/views/*
            - app/cache/*
            - storage/*
            - var/*
            - logs/*
            # Décommentez la ligne suivante pour exclure aussi les tests de l'analyse
            # - tests/*

    level: 8



