<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="tests/bootstrap.php" colors="true" cacheDirectory=".phpunit.cache" stopOnFailure="false">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="display_errors" value="1"/>
    <ini name="display_startup_errors" value="1"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">app</directory>
    </include>
    <exclude>
      <directory>app/vendor</directory>
      <directory>app/assets</directory>
      <directory>app/modules/views</directory>
    </exclude>
  </source>
</phpunit>
