.bde-opening {
    font-size: 0.85rem;
    color: white;
    border-radius: 5px;
    padding: 13px;

    letter-spacing: 1px;
}

#open {
    background-color: #25782d;
}

#close {
    background-color: #b23232
}